@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');
body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.container{
    
    width: 95%;
    height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex-colors{
    
    text-align: center;

}
.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorchange 5s infinite alternate;


}
.hex-colors h2{
    
    font-size: 2rem;
    margin-top: 15%;
}
@keyframes colorchange{
    0%{
        color :blueviolet;
    }
    20%{
        color :red;
    }
    40%{
        color :blue;
    }
    60%{
        color :brown;
    }
    80%{
        color :green;
    }
    100%{
        color :rgb(214, 226, 43);
    }
}
@media(max-width:480px){
    .hex-colors h1{
        font-size:1.5rem;
    }
    .hex-colors h2{
        font-size:1.5rem;
    }
}